
<%- include("./components/header.ejs"); %>


<div class="Main-Project">
    <div class="title-proj">
        <h1>Projects</h1>
        <h2>Latest Projects </h2>
    </div>
    <div class="boxes">
       <% projects.forEach(pro => {%>
        <div class="box">
            <img class="image-1"  src="<%-pro.imagesrc %>"/>
            <div class="black-screen">
                <h1 class="proj-title"><%- pro.projectName%></h1>
                <h5 class="proj-sub-title"><%- pro.projectsubTitleName%></h5>
                <div class="icons">
                    <a href="<%-pro.link%>" target="_blank"><i class="fa-solid fa-link"></i></a>
                    <a href="<%-pro.link%>" target="_blank"><i class="fa-solid fa-code"></i></a>
                </div>
            </div>
        </div>

       <%})%>
    </div>
    <div class="more">
        <a href="https://github.com/Abdelmounaimhmamed?tab=repositories">For more Projects -></a>
    </div>

</div>




<%- include("./components/footer.ejs") %>
